@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-size: 14px;

}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

input,
select {
  border-width: 2px;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}


a{
  text-decoration: underline;
  color: blue;

}
