@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}

input,
select {
  border-width: 2px;
  border-radius: 1rem;
  padding-left: 0.5rem;
}

button {}